.cart .repeater .rpHeader .product {
    width: 300px;
    font-size: 22px;
    height: 30px;
    color: #fff;
}



.cart .repeater .rpHeader .auto_renew,
.cart .repeater .rpHeader .duration,
.cart .repeater .rpHeader .price,
.cart .repeater .rpHeader .delete {
    height: 30px;
}




.cart .repeater .rpHeader .auto_renew,
.cart .repeater .rpHeader .duration,
.cart .repeater .rpHeader .price,
.cart .repeater .rpHeader .delete a {
    color: #fff;
}


.rpHeader .auto_renew .tipTip {
    position: absolute;
    top: -1px;
    width: 15px;
}


.cart .form-submit{

display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    }



/*step4 non-EU countries*/
    .checkout #userinfo1 .form-field.mobile-phone input {
        height: 34px;
        line-height: 33px;
        border: 1px solid #4e9ed4;
        border-radius:0 4px 4px 0;
        padding: 4px;
        width: 266px;
        -webkit-box-shadow:none;
                box-shadow:none;
        outline:none;
    }

.checkout #userinfo1 .pan-mobile-phone span.tipTip img {
    display:none;
}

.checkout #userinfo1 .pan-mobile-phone span.tipTip:after {
    font-family: 'FontAwesome';
    content: "\f059 ";
    font-size: 18px;
    color: #cecece;
    position:relative;
    top:1px;    
}
